@use "../../foundation/variables" as v;

.p-service {
    /* Heightはそれぞれで指定。(SPとTB以上で書き分けの必要がなくなる) */
    &--takeOut {
        /* 
        Size 
        iPhone5/SEの高さ568pxよりやや小さめをmin-heightに指定。
        */
        min-height: 550px;
        @include v.background-image("three-burgers-on-brown-wooden-tray-between-white-ceramic.png");
        /* flexで並べる */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &--eatIn {
        /* 
        Size 
        iPhone5/SEの高さ568pxよりやや小さめをmin-heightに指定。
        */
        min-height: 550px;
        @include v.background-image("bacon-burger.png");
        /* flexで並べる */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    &__title {
        &--takeOut {
            /* Color */
            color: v.$palette-gallery;
        }
        &--eatIn {
            /* Color */
            color: v.$palette-white;
        }
    }
    &__detail {
        &__desc {
            /* baseColor */
            background-color: v.$palette-white;
            /* opacity */
            opacity: .8;
            &__title {
                /* 
                現段階でtakeOutとeatInに差はないが、
                のちの背景差し替え等に伴う調整をしやすくするために個別に記述
                なお、この領域に記述禁止(__desc__titleで終わるクラス名がないため)
                */
                &__takeOut {
    
                }
                &__eatIn {
    
                }
            }
        }  
    }


    /* TB時　横並び */
    @include v.breakpoint(tb) {
        /* 
        配置
        flexで要素を横並び。さらにjustify-contentで横軸中央寄せ
        左右の余白はlayoutで対応済み
        */
        display: flex;
        justify-content: center;
    }
}


