@charset "UTF-8";
/* 
今回使ってるのは所謂「リセットCSS」。まっさらな状態にしてくれる。 
中間がノーマライズCSS。割とスタイリングされてるのがサニタイズCSS。
*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* 使用者追記：ここを100%としておくことで、
  ユーザー設定のフォントサイズが反映される */
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* 
変数の取り扱いなど、参考記事のリンクを貼っておくと良さそう。
→万が一「これは何？」となったときに参照してもらえる。
*/
/* 
@use 'foundation/variables' as v;で読むこと
*/
/* 
Responsive
*/
/* 
Font
_base.scssにて
font-family: "M+ 1m", Roboto, Arial, Meiryo, sans-serif;
が設定されている。
これ以外のフォントや優先順位に従いたくないときに使用する変数を定義
*/
/* 
Size 
参考:https://zenn.dev/tak_dcxi/articles/26280e7607bcd2
呼び出し時は
.my-button {
    font-size: v.rem(14);　←font-sizeを14px相当に
}
…のような形で呼べば、コンパイル後にrem変換してくれる
*/
/* 
About Colors
https://qiita.com/1natsu172/items/ef6b0fcba6bbe380df1e
透過度使うときは以下のように
background-color: rgba(v.$palette-black, .5);
*/
/* 
palette  
新規追加・微調整はここで。
今回はName that Color(https://chir.ag/projects/name-that-color/)で命名。
*/
/* 
colors
paletteで定義した色の呼び出し。
変数名は「"$color" + "-(クラス名)" + "-(backgroundなど(今回backgroundは基本省略))"」を基本とするが、
「ここの色だけ変えたい」(ex: 背景画像との色被りなど)に対応できるように
色が同じだったとしても相互に関連の薄い複数個所をまとめて定義しないこと。
*/
/* header */
/* searchButton(gradation)  https://www.webcreatorbox.com/tech/sass-colours#sass-colour5 */
/* main */
/* sidebar */
/* footer */
/* commonBorder */
/* 
backgroundImage
参考:https://web-guided.com/376/
*/
/* 
タイポ防止。呼び出し時はファイル名.拡張子の記述でOKになる。
pで当てるのでパス注意。 
*/
/* @contentを使うことで、呼出時に他のbackgroundプロパティ追加できる。 */
* {
  /* 
  aboutTexts  
  Robotoのときは$subFontなどで別途指定(_variables.scss)
  */
  font-family: "M+ 1m", Roboto, Arial, Meiryo, sans-serif;
  /* 
  borderBoxにして制御しやすく
  */
  box-sizing: border-box;
}
* h1 {
  font-size: 2.25rem;
}
* h2 {
  font-size: 2.5625rem;
}
* h3 {
  font-size: 1.375rem;
}

/* gridContainer(SP,Tb時はsidebar以外を含む)もこの中で制御。 */
/* 
l-wrapperで全体の調整
*/
.l-wrapper {
  /*
  右にできた余白を消す
  http://bashalog.c-brains.jp/15/06/26-170500.php
  */
  overflow: hidden;
}

/* PC時はDOM操作の後グリッドで配置 */
.l-main__service {
  /*
  左右の余白
  (ここでvwか…?　いや、スクロールバーのことを考えると%か。) 
  これにしてみる↓
  https://www.nxworld.net/sass-number-operations-and-functions.html
  そのサイズ指定の意味合いを考えて単位を選ぶこと。
  */
  padding: 20px 5.3333333333% 49px;
}
.l-sidebar {
  /* 
  js-menu(sidebar)のサイズはここでまとめて行う
  ここをlとpにわけるとjsでの操作が面倒になると考えたため。
  */
  /* 最初はoverflow-x: hidden;にして消しておく */
  overflow-x: hidden;
  /* layout 浮かせて手前に固定。topを0に指定することでドキュメントの左上に */
  position: fixed;
  top: 0;
  /* is-open時 */
}
.l-sidebar.is-open {
  width: 100%;
}

.c-coverLayer {
  /* Color アルファ値使う場合はprojectで再度指定のこと。*/
  background-color: #000;
}

/* 
根本的なデザインの変更以外はここで指定せず、projectで指定すること。
*/
/* 
根本的なデザインの変更以外はここで指定せず、projectで指定すること。
*/
.c-searchBox {
  /* shape */
  border-radius: 10px;
}

/* 
根本的なデザインの変更以外はここで指定せず、projectで指定すること。
*/
.c-searchButton {
  /* 
  bassColor
  (searchButtonは使い回す予定がないのでここでスタイリング) 
  */
  background: linear-gradient(-90deg, #F2EDE9, #DED8D3) fixed;
}

/* p-header__menuOpenerも以下のテンプレートを使用している */
.c-title {
  /* 
  letter 
  ここに詳細まで(font-size等)書くかは
  まったく同じスタイルで使い回される頻度により判断
  */
  font-family: Roboto, "M+ 1m", Arial, Meiryo, sans-serif;
  font-weight: bold;
}

.c-underline {
  /* 
  初期値=Eat inの下
  線幅変更箇所あり(Mapテキスト見出しの下)
  */
  height: 0.25rem;
  /* 同箇所にてwidth変更有(Projectにて対応のこと) */
  width: 2.118125rem;
  /* color */
  background-color: #FFF;
}

/* 
基本は記述なし。
幅の変更などはp-access__map__sourceで行うため。 
*/
/* &__menuOpenerは.c-titleを使用している */
.p-header {
  /* Size　*/
  width: 100%;
  height: 13.5625rem;
  /*
  Space 
  tb時もあまり変わらず(=viewportで変動せず)
  長い文章が入るとは考えにくい(?)のでpxで指定し固定。
  */
  padding: 14px 16px 40px;
  /* baseColor */
  background-color: #FFF7EF;
}
.p-header__menuOpener {
  /* letter */
  font-size: 1.25rem;
  /* color */
  color: #707070;
  /* aboutText */
  line-height: 1.625rem;
  /* 選択できなくする */
  user-select: none;
  /* layout (flex使って右上端に) */
  display: flex;
  justify-content: flex-end;
}
.p-header__title {
  /* letter */
  font-size: 2.5rem;
  /* color */
  color: #707070;
  /* aboutText */
  line-height: 3.3125rem;
  /* layout(左右中央ぞろえ) */
  display: flex;
  justify-content: center;
}
.p-header__search {
  /* layout(左右中央ぞろえ) */
  display: flex;
  justify-content: center;
}
.p-header__search__searchBox {
  /* 
  Size 
  */
  width: 14.375rem;
  height: 2.875rem;
  /* 形状を決定するborderRadiusはコンポーネントで指定してある */
  /* border 線もおそらく変える必要ないのでpxで */
  border: solid 1px #707070;
}
.p-TopHead {
  /* 
  Size
  */
  height: 17.8125rem;
  /* BackGround */
  background-image: url("../../../images/a-burger-surrounded-by-vegetables.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* 
  @mixin内で@contentを記述しているため、他のプロパティの追加が可能
  ここに記述したものは@contentの{}内に書かれていることになる。 
  */
  /* 
  背景縮小
  background-size: cover;  縦横比保持。覆うように。(大)
  background-size: contain; 縦横比保持。収まるように。(小)
  どちらかを値指定。他方をauto(元の比率を維持)とすることもできる。
  */
  background-size: cover;
  /* 
  左右の余白 (上下は中央寄せで対応かな)
  →but,予想外に多くの文字が入る可能性やユーザーの文字拡大の可能性も踏まえて
  上下左右に取っておこうか。
  その意図なら固定値でいいはずなのでpxで指定　
  */
  padding: 25px;
  /* 上下中央揃え */
  display: flex;
  align-items: center;
}
.p-TopHead__title {
  /* Color */
  color: #FFF;
}

.p-service {
  /* Heightはそれぞれで指定。(SPとTB以上で書き分けの必要がなくなる) */
  /* TB時　横並び */
}
.p-service--takeOut {
  /* 
  Size 
  iPhone5/SEの高さ568pxよりやや小さめをmin-heightに指定。
  */
  min-height: 550px;
  background-image: url("../../../images/three-burgers-on-brown-wooden-tray-between-white-ceramic.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.p-service--eatIn {
  /* 
  Size 
  iPhone5/SEの高さ568pxよりやや小さめをmin-heightに指定。
  */
  min-height: 550px;
  background-image: url("../../../images/bacon-burger.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.p-service__title--takeOut {
  /* Color */
  color: #EAEAEA;
}
.p-service__title--eatIn {
  /* Color */
  color: #FFF;
}
.p-service__desc {
  /* baseColor */
  background-color: #FFF;
  /* opacity */
  opacity: 0.8;
}
.p-service__desc__title {
  /* 
  現段階でtakeOutとeatInに差はないが、
  のちの背景差し替え等に伴う調整をしやすくするために個別に記述
  なお、この領域に記述禁止(__desc__titleで終わるクラス名がないため)
  */
}
@media screen and (min-width: 600px) {
  .p-service {
    /* 
    配置
    flexで要素を横並び。さらにjustify-contentで横軸中央寄せ
    左右の余白はlayoutで対応済み
    */
    display: flex;
    justify-content: center;
  }
}

.p-access {
  /* 
  aboutPosition
  (relative指定で子要素をハンドリングしやすく)
  */
  position: relative;
}
.p-access__desc {
  /* aboutPosition  (mapの上に重なる形に→z-indexで最前面に配置)*/
  position: absolute;
  z-index: 100;
}
.p-access__desc__title {
  /* letter */
  font-size: 1.875rem;
  /* color */
  color: #FFF;
}
.p-access__desc__underline {
  /* size */
  width: 4.6875rem;
  height: 0.125rem;
}
.p-access__overlay {
  /* 濃い黒 */
  opacity: 0.29;
  /* size 幅は親(p-access)に合わせ、高さはカンプに基づいて%指定 */
  width: 100%;
  height: 60.0578871201%;
  /* layout absoluteで重ねる */
  position: absolute;
}
.p-access__mask {
  /* 薄い黒(カンプは白指定だが、不透明度を反転(?)させて黒指定) */
  opacity: 0.4;
  /* size */
  width: 100%;
  height: 100%;
  /* layout absoluteで重ねる */
  position: absolute;
}
.p-access__map {
  /* 
  divは初期値でwidth100%なので指定必要なし
  but iframeタグで挿入したmapのソースを幅変更のこと
  */
}
.p-access__map__source {
  /* Size
  ・親のmap(divタグ)のwidthに合わせる
  */
  width: 100%;
}

.p-sidebar {
  /*
  position
   __contentを__maskの上に重ねるために
   position:relative;. (position多用は危険らしい…？)
  */
  position: relative;
  /* 
  Size(子はこれを100%指定で受け継ぐ)
  基本的にl-sidebarで制御してるが、
  高さはここ依存しているので消さないでね。
  */
  height: 100vh;
  /* flex-endでcontentを右に。__maskの幅消えるので指定のこと */
  display: flex;
  justify-content: flex-end;
}
.p-sidebar__mask {
  /* baseColor アルファ値使う(50%)ので、rgbaで再度指定 */
  background-color: rgba(0, 0, 0, 0.5);
  /* Size 高さ指定 親に合わせる*/
  height: 100%;
  /* 親にflexかけたら幅消えたので指定 */
  width: 100%;
}
.p-sidebar__content {
  /* 
  position
  absoluteで浮かせる。
  top:0;でrelative付きの親の左上へ。__maskと重なる。
  */
  position: absolute;
  top: 0;
  /* 
  Size 
  幅指定 percentageで(余白も%指定の必要が出てくる)
  高さ指定 親に合わせる
  */
  width: 87.4666666667%;
  height: 100%;
  /* baseColor */
  background-color: #F2EDE9;
}
.p-sidebar__content__nav {
  /* 以下クラス名ついてないので注意 */
}
.p-sidebar__content__nav ul li {
  /* aboutLetters */
  list-style: none;
}
.p-footer {
  /* baseColor */
  background-color: #9D8670;
  /* 
  Size 
  widthは指定必要なしかな。
  heightはとりあえずカンプそのままをremで指定しておく
  */
  height: 9.375rem;
  /* layout 中央揃え*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
タイトル部以外のテキストについては基本的な点をfoundationでスタイリングし、
utilityで上書きしていくことにする。
テキストに関してはcomponentとprojectのカスケーディングを使うと冗長になると考えたため。

For the text, I will style the basic points with foundation 
and overwrite it with utility. 
I thought it would be redundant to use component and project cascading.
*/
.u-text {
  /* 
  多少面倒だけど、それぞれにスタイリングしていく
  →背景画像変えるなどで文字見づらくなった時の対応が容易。
  */
}
.u-text--serviceDesc {
  /* 末尾が--serviceDescのクラスは存在しないため、この領域には記述禁止 */
}
.u-text--serviceDesc--takeOut {
  /* Size */
  font-size: 1rem;
  /* Color */
  color: #3C2A10;
}
.u-text--serviceDesc--eatIn {
  /* Size */
  font-size: 1rem;
  /* Color */
  color: #3C2A10;
}
.u-text--accessDesc {
  /* Size */
  font-size: 0.875rem;
  /* Color */
  color: #FFF;
}
.u-text--footerInfo {
  /* Size */
  font-size: 1.25rem;
  /* Color */
  color: #FFF;
}
.u-text--copyright {
  /* Size */
  font-size: 0.875rem;
  /* Color */
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
