@use "../foundation/variables" as v;

.l-sidebar {
    /* 
    js-menu(sidebar)のサイズはここでまとめて行う
    ここをlとpにわけるとjsでの操作が面倒になると考えたため。
    */
    /* 最初はoverflow-x: hidden;にして消しておく */
    overflow-x: hidden;
    /* layout 浮かせて手前に固定。topを0に指定することでドキュメントの左上に */
    position: fixed;
    top: 0;
    /* アニメーション　元要素で指定　なぜか効かない */
    // transition: .5s;
    
    /* is-open時 */
    &.is-open {
        width: 100%;
    }
}